body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
    min-width: 800px;
    position: relative;
    background-color: #EAE8E8;
}

h2 {
    margin-top: 0; /* Убираем отступ сверху */
}

@font-face {
    font-family: UniSansHeavyCAPS; /* Гарнитура шрифта */
    src: url(../fonts/UniSansHeavyCAPS.OTF); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "Britannic My"; /* Гарнитура шрифта */
    src: url(../fonts/britanic.TTF); /* Путь к файлу со шрифтом */
}

.header { /* Верхний блок */
    height: 218;
    width: 100%;
    position: relative;
}

.header > div {
    position: absolute;
}

.header_menu {
    background-color: #004b06;
    position: absolute;
    height: 20%;
    bottom: 0;
    left: 3%;
    right: 3%;
    width: 94%;
    border: 2px outset #6e9570;
    font-family: UniSansHeavyCAPS,serif;
    font-size: 30px;
    text-align: left;
    min-width: 720px;
}

.header_menu_link {
    vertical-align: middle;
    padding-right: 2%;
    padding-left: 2%;
    color: #FFF !important;
    position: relative;
    text-decoration: none;
}

.header_menu_link.active {
    box-shadow: 2px 1px 0 3px rgb(129, 124, 124);
    background-color: rgb(129, 124, 124);
}
.header_menu_search {
    top: 8%;
    min-width: 150px;
    width: 30%;
    /*display: inline-block;*/
    right: -3%;
    position: absolute;
    color: #FFF;
    height: 85%;
    display: table;
}

.header_menu_search_input {
    display: table-cell;
    position: absolute;
    width: 80%;
    height: 80%;
    vertical-align: middle;
}

.header_menu_search_icon {
    width: 22px;
    height: 26px;
    background: url('//img.imgsmail.ru/p/pm/d/0.1.31/blocks/ph-icons/ph-icons.png') no-repeat scroll -2388px 0;
    background-size: 2662px 21px !important;
    background-clip: border-box;
    background-origin: padding-box;
    top: 25%;
    border: 0;
    position: absolute;
    right: 20%;
    vertical-align: middle;
}

.header_links_wrapper {
    width: 100%;
    height: 80%;
    display: table;
    table-layout:fixed;
}

.header_link {
    text-align:center;
    color:#bfbfbf;
    cursor:pointer;
    font-size:14px;
    display: table-cell;
    text-decoration: none;
    height: 100%;
}

.header_link_auth {
    background: url("../img/auth.png") no-repeat scroll;
    background-clip: border-box;
    background-position: 0 51%;
    display: table-cell;
    cursor: pointer;
    width: 20%;
    font-size: 25px;
    font-family: UniSansHeavyCAPS, serif;
    color: rgb(0, 75, 6);
    line-height: 100%;
    vertical-align: middle;
    padding-top: 2px;
    text-align: left;
    padding-left: 4%;
}

.header_link_cart {
    background: url("../img/shop_cart.png") no-repeat scroll;
    background-clip: border-box;
    background-position: 10% 51%;
    display: table-cell;
    cursor: default;
    width: 20%;
    font-size: 25px;
    font-family: UniSansHeavyCAPS, serif;
    color: rgb(0, 75, 6);
    line-height: 100%;
    vertical-align: middle;
    text-align: left;
    top: 0;
    padding-left: 6%;
}

.header_no_link_phone{
    background: url("../img/phone.png") no-repeat scroll;
    background-clip: border-box;
    background-position: 4% 51%;
    display: table-cell;
    cursor: default;
    width: 20%;
    font-size: 25px;
    font-family: UniSansHeavyCAPS, serif;
    color: rgb(0, 75, 6);
    line-height: 100%;
    vertical-align: middle;
    text-align: left;
    top: 0;
    padding-left: 5%;
}

.header_link_logo {
    background: url("../img/logo.png") no-repeat;
    background-clip: border-box;
    background-size: 35%;
    background-position: 0 -10px;
    padding-right: 5%;
    display: table-cell;
    vertical-align: middle;
    width: 45%;
    min-width: 330px;
}

/* Auto generated by Adobe Photoshop: 2014.1.0 20140730.r.148 2014/07/30:23:59:59 ( x64) */
.header_link_logo_slogan {
    font-family: "Lucida Calligraphy",serif;
    color: rgb(0, 75, 6);
    text-align: left;
    padding-left: 26%;
    -moz-transform: matrix( 0.68182776313059,0,0,0.68182776313059,0,0);
    -webkit-transform: matrix( 0.68182776313059,0,0,0.68182776313059,0,0);
    -ms-transform: matrix( 0.68182776313059,0,0,0.68182776313059,0,0);
    z-index: 7;
    font-size: 20px;
}

.header_link_logo_site_name {
    font-family: "Britannic My",serif;
    color: rgb(0, 75, 6);
    line-height: 1.2;
    text-align: left;
    padding-left: 26%;
    -moz-transform: matrix( 0.68182776313059,0,0,0.68182776313059,0,0);
    -webkit-transform: matrix( 0.68182776313059,0,0,0.68182776313059,0,0);
    -ms-transform: matrix( 0.68182776313059,0,0,0.68182776313059,0,0);
    font-style: normal;
    font-size: 53px;
    cursor: normal;
}
/* End */

.wrapper{
    position: relative;
    margin-top: 1%;
    padding: 5px;
    width: 98%;
    height: auto;
}

.main_container {
    position: relative;
    margin-top: 1%;
    padding: 5px;
    width: 100%;
    height: auto;
}

.carousel_container {
    border: 2px solid #000000;
    margin-left: 4%;
    position: absolute;
    width: 55%;
}

.box_container {
    position: absolute;
    right: 4.5%;
    width: 34%;
}

.box_wrapper {
    background-color: #004b06;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    color: #FFF;
    display: table;
    font-family: UniSansHeavyCAPS,serif;
    height: 30.5%;
    margin-top: 5%;
    position: relative;
    width: 105%;
    z-index: 32;
    -moz-border-radius: 20px;
    -webkit-border-radius: 30px 15px;
}

.box_wrapper:first-child{
    margin-top: 0;
}

.box_delivery {
    background: url("../img/meanicons.png") no-repeat scroll;
    background-size: 25% 45%;
    background-position: 3% 58%;
    background-clip: border-box;
    padding-left: 30%;
    vertical-align: middle;
    z-index: 33;
    display: table-cell;
    height: 100%;
    cursor: pointer;
    font-size: 32px;
}

.box_redial {
    background: url("../img/redial.png") no-repeat scroll;
    background-size: 22% 65%;
    background-position: 5% 50%;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-left: 30%;
    cursor: pointer;
    font-size: 32px;
}

.box_review {
    background: url("../img/review.png") no-repeat scroll;
    background-size: 20% 60%;
    background-position: 6% 55%;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-left: 30%;
    text-align: left;
    font-size: 32px;
}

.line {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: #004b06;
    font-family: "Britannic My", serif;
    font-weight: bold;
}

.line:before,
.line:after {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    content: '';
    display: inline-block;
    height: 3px;
    z-index: -1;
    position: relative;
    vertical-align: middle;
}

.line:before {
    width: 35%;
    background: linear-gradient(225deg, #004b06,#EAE8E8);
    margin: 0 0 0 -100%;
}

.line:after {
    width: 35%;
    background: linear-gradient(225deg, #EAE8E8, #004b06);
    margin: 0 -100% 0 0;
}

.goods_container {
    padding-left: 40px;
    position: relative;
    text-align: center;
}
.good {
    display: inline-block;
    position: relative;
    margin-right: 30px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    width: 200px;
    height: 100%;
    vertical-align: top;
    cursor: pointer;
}

.good_img_wrapper {
    position: relative;
}

.good_img {
    width: 100%;
    height: auto;
}

.good_title {
    display: inline-block;
    position: relative;
    font-family: "segoe ui", serif;
    text-decoration : underline;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 4px;
}

.good_price {
    color: #aa1a1a;
    margin-left: 15px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: left;
}

.green_button {
    display: inline-block;
    position: relative;
    right: 0;
    padding: 6px 12px;
    margin-bottom: 5px;
    margin-left: 55px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    color: #FFF;
    background-color: rgba(0, 75, 6, 0.81);
    border: 1px solid #004b06;
}

.post_preview_container {
    width: 90%;
    position: relative;
    left: 5%;
}

.post_preview {
    border-bottom: 1px solid rgba(0, 0, 0, 0.29);
    margin-top: 20px;
    display: block;
}

.post_preview_img {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 150px;
    background-color: red;
    margin-top: 5px;
}

.post_preview_wrapper {
    display: inline-block;
}

.post_preview_title {
    display: inline-block;
    font-size: 20px;
    font-family: "Segoe UI",serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    z-index: 52;
}

.post_preview_datetime {
    position: absolute;
    font-size: 18px;
    font-family: "Segoe UI",serif;
    color: rgb(65, 67, 66);
    display: inline-block;
    padding-right: 23px;
    background: url("../img/clock.png") no-repeat scroll center right;
    right: 0;
}

.post_preview_text {
    font-size: 16px;
    font-family: "Segoe UI",serif;
    color: rgb(46, 45, 45);
    line-height: 1.2;
    text-align: left;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 53;
    display: inline-block;
    vertical-align: top;
}

.post_preview_watches {
    background: url("../img/big_brother_watch_you.png") no-repeat scroll center left;
    padding-left: 26px;
    margin-right: 3px;
    display: inline-block;
    font-size: 16px;
    font-family: "Segoe UI",serif;
    color: rgb(0, 0, 0);
    text-align: left;
}

.post_preview_comments_counter {
    position: relative;
    display: inline-block;
    background: url("../img/comments_counter.png") no-repeat scroll center left;
    padding-left: 28px;
    font-family: "Segoe UI",serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.post_preview_author_wrapper {
    display: inline-block;
    font-size: 16px;
    font-family: "Segoe UI",serif;
    color: rgb(0, 0, 0);
    text-align: left;
}

.post_preview_author {
    display: inline-block;
    color: green;
    text-decoration:underline
}

.post_preview_button_read {
    display: inline-block;
    position: absolute;
    right: 0;
    cursor: pointer;
    -moz-user-select: none;
    border-radius: 2px;
    color: #FFF;
    background: rgba(0, 75, 6, 0.81) none;
    border: 1px solid #004b06;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    padding: 6px 12px;
}

.menu_wrapper {
    position: absolute;
    width: 240px;
    margin-left: 3%;
    z-index: 100;
    letter-spacing: 1px;
}

.panel_menu_link:visited,
.panel_menu_link {
    color: #FFFFFF;
    padding-left: 20px;
    text-decoration: none;
}

.panel_menu_link:hover,
.panel_menu_link:active {
    color: #FFFFFF;
    text-decoration: underline;
}

.goods_slider {
    position: absolute;
    margin-left: 5%;
    padding-left: 220px;
}
.fade {
    opacity: 0;
    transition: opacity 0.3s linear 0s;
}
.fade.in {
    opacity: 1;
}
.modal-open {
    overflow: hidden;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    min-width: 600px;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    width: auto;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}
.modal-header .close {
    margin-top: -2px;
    cursor: pointer;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 60%;
        margin: 120px auto;
        min-width: 600px;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        min-width: 600px;
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}
.clearfix:after,
.modal-footer:after {
    clear: both;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.affix {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.green_button_modal {
    display: inline-block;
    position: relative;
    right: 0;
    padding: 6px 12px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    color: #FFF;
    background-color: rgba(0, 75, 6, 0.81);
    border: 1px solid #004b06;
}

.red_button_modal {
    display: inline-block;
    position: relative;
    right: 0;
    padding: 6px 12px;
    margin-bottom: 5px;
    margin-left: 55px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    color: #FFF;
    background-color: darkred;
    border: 1px solid #004b06;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    opacity: 0.4;
    border: 0;
}

.modal-header.modal-goods {
    font-size: 24px;
}

.modal_good_wrapper {
    text-align: left;
}

.modal_good_img_wrapper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: auto;
    padding-left: 2%;
}

.modal_good_img_main {
    position: relative;
    display: block;
    width: 80%;
    padding-left: 5%;
}

.modal_good_img_small {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 25%;
    margin-left: 7px;
    border: 1px solid lightgrey;
}

.modal_good_main_description {
    display: inline-block;
    position: relative;
    width: 45%;
    height: 100%;
    margin-left: 5px;
    font-size: 26px;
    font-family: "Segoe UI";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
}
.modal_good_main_description > p{
    font-size: 26px;
    font-family: "Segoe UI";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    font-weight: normal;
    margin-top: 0;
}

.modal-footer > .good_price {
    position: absolute;
    font-size: 26px;
    left: 10%;
}

.modal-delivery_title {
    font-size: 30px;
    font-family: Uni Sans, sans-serif;
    color: rgb(0, 75, 6);
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
}

.modal-header.modal-delivery {
    border: none;
}

.modal-footer.modal-delivery {
    border: none;
}

.modal-delivery_subheader {
    font-size: 20px;
    font-family: UniSansHeavyCAPS;
    color: rgb(0, 75, 6);
    line-height: 1.2;
    text-align: left;
    display: inline-block;
    width: 100%;
}

.modal-delivery_subheader > i{
    color: #aa1a1a;
    font-style: normal;
    right: 15px;
    position: absolute
}

.modal-delivery_text {
    font-size: 18px;
    font-family: "Segoe UI";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
}

.modal-body.modal-delivery {
    margin-left: 10px;
}

.modal-content.modal-delivery {
    border: 3px solid #004b06;
    background-color: #EAE8E8;
}

.modal-content.modal-recall{
    border: 3px solid #004b06;
}

.modal-recall_title {
    font-family: Uni Sans, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 75, 6);
    text-align: center;
    margin-top: 20px;
}

.modal-recall_label {
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    color: rgb(1, 1, 1);
    line-height: 1.2;
    text-align: right;
    width: 420px;
    display: inline-block;
}

.modal-recall_input {
    background-color: white;
    width: 280px;
    height: 20px;
    border: none;
    margin-top: 10px;
}

.modal-content.modal-recall {
    border: 3px solid #004b06;
    background-color: #EAE8E8;
    width: 500px !important;
    margin-left: 100px;
}

.blog_search {
    top: 8%;
    width: 200px;
    /*display: inline-block;*/
    color: #FFF;
    height: 40px;
    display: inline-block;
    position: relative;
    margin-left: 5%;
}

.blog_search_input {
    display: table-cell;
    position: absolute;
    width: 80%;
    height: 80%;
    vertical-align: middle;
    border: 1px solid #000000;
}

.blog_search_icon {
    width: 22px;
    height: 26px;
    background: url('//img.imgsmail.ru/p/pm/d/0.1.31/blocks/ph-icons/ph-icons.png') no-repeat scroll -2388px 0;
    background-size: 2662px 21px !important;
    background-clip: border-box;
    background-origin: padding-box;
    top: 25%;
    border: 0;
    position: absolute;
    right: 20%;
    vertical-align: middle;
}

.button-blog_write {
    display: inline-block;
    position: absolute;
    right: 50px;
    padding: 6px 12px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    color: #FFF;
    background-color: rgba(0, 75, 6, 0.81);
    border: 1px solid #004b06;
}

.contact__text {
     font-size: 25px;
     font-family: "Segoe UI", sans-serif;
     color: rgb(0, 0, 0);
     line-height: 1.2;
     text-align: left;
     position: absolute;
     width: 1100px;
     left: 70px;
}
.card_wrapper {
    margin-left: 5%;
    margin-top: 40px;
}
.card_header {
    color: #aa1a1a;
    font-family: UniSansHeavyCAPS, sans-serif;
    font-size: 25px;
    color: rgb(170, 26, 26);
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: left;
}

.card_table_td {
    background-color: #004B06;
    color: #ffffff;
    font-size: 25px;
    font-family: "Segoe UI", serif;
    vertical-align: middle;
    text-align: center;
    border: 00000001px solid black;
}

.card_table {
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: 10px;
}

.layer {
    position: fixed;
    height: 100%;
    width: 100%;
}

table.card_table tbody tr {
    border: 00000001px solid black;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

table.card_table tbody tr td {
    border: 00000001px solid black;
    font-size: 20px;
    cursor: default;
}

table.card_table tbody tr td img {
    height: 130px;
}

.input {
    width: 100%;
    display: inline-block;
    position: relative;
}

.input input{
    width: 84px;
    height: 1.5em;
    text-align: center;
    font-size: 25px;
    position: relative;
    display: inline-block;
}

.minus {
    font-size: 25px;
    width: 1.5em;
    border-radius: 1.5em;
    background-color: #000000;
    color: #f5f5f5;
    display: inline-block;
    height: 1.5em;
    position: absolute;
    left: 10px;
    top: 2px;
    line-height: 1.4em;
}

.plus {
    font-size: 25px;
    width: 1.5em;
    border-radius: 1.5em;
    background-color: #aa1a1a;
    color: #f5f5f5;
    height: 1.5em;
    position: absolute;
    right: 10px;
    top: 2px;
    line-height: 1.6em;
}

textarea {
    resize: none;
    vertical-align: middle;
}

td.name {
    text-decoration: underline;
    cursor: pointer !important;
}

a.delete {
    border: 5px solid #615F5F;
    border-radius: 1em;
    height: 1em;
    display: block;
    width: 1em;
    line-height: 1.05em;
    margin-left: 11px;
    transform: rotate(-45deg);
    font-size: 32px;
    color: #615F5F;
    font-weight: bold;
}